* {
    margin: none;
    padding: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.grid {
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    width: 40vw;
    height: 70vh;
}

.cell {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4vw;
    height: 7vh;
}

.cell.black {
    background-color: grey;
}

.cell.white {
    background-color: white;
}

img {
    width: 70%;
    height: 70%;
    background: none;
    mix-blend-mode: multiply;
    display: none;
}

img.active {
    display: block;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error {
    display: none;
}

.error.active{
    display: block;
}